@model IEnumerable<OMS.Models.MadicalStore>
@using OMS.Models
@{
    ViewBag.Title = "result";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<link href="~/Content/akh.css" rel="stylesheet" />
<h2>Result</h2>


<table class="table">
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreLicense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreImage)
        </th>
        <th></th>
    </tr>*@
    <section id="team" class="pb-5">
        <div class="container-fluid">
            <h5 class="section-title h1">Medical Stores near You</h5>
            <div class="row">
                <!-- Team member -->
                @foreach (var item in TempData["re"] as List<MadicalStore>)
                {
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                            <div class="mainflip">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="~/Content/ProductImg/@item.StoreImage" alt="card image"></p>
                                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.StoreName)</h4>
                                            <p class="card-text">
                                                <b>phonn</b>:@Html.DisplayFor(modelItem => item.MobileNo)
                                                <br />
                                                <b> city</b>:@Html.DisplayFor(modelItem => item.City)
                                                <br />
                                                <b> licence</b>:@Html.DisplayFor(modelItem => item.StoreLicense)
                                            </p>
                                            <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">@Html.DisplayFor(modelItem => item.StoreName)</h4>
                                            <p class="card-text">
                                                <b>Address</b>:@Html.DisplayFor(modelItem => item.StoreAddress)
                                                <br />
                                                <b> landline</b>:@Html.DisplayFor(modelItem => item.LandLine)
                                                <br />
                                                <b> store owner</b>:@Html.DisplayFor(modelItem => item.userid)
                                                <hr />
                                                <a class="btn btn-block" href="@Url.Action("PublicPage","Products",new { id=item.StoreLicense})">Show All medicines</a>

                                            </p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-skype"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a class="social-icon text-xs-center" target="_blank" href="#">
                                                        <i class="fa fa-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->

                }

            </div>
        </div>
    </section>
    @*@foreach (var item in TempData["re"] as List<MadicalStore>)
    {
        <tr>
            <td>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreLicense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreImage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MadicalStoreID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MadicalStoreID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MadicalStoreID })
            </td>
        </tr>
    }*@

</table>
